.heading{
    text-align: center;
    color:cyan
}
.rock,.paper,.scissor{
    height: 150px;
    width: 110px;
    cursor: pointer;
}
.result{
    display: table;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    width: 50%;
}
.center{
    text-align: center;
    color: beige;
}
body{
    background-color: black;
}
pre,p{
    color: aliceblue;
    text-align: center;
}
.left{
    margin-left: auto;
    float: left;
    width: 110px;
    padding: 20px;
    margin: 25px;
    
}
.middle{
    float: left;
    width: 110px;
    padding: 20px;
    margin: 25px;
    
}
.right{
    margin-right:auto;
    float: left;
    width: 110px;
    padding: 20px;
    margin: 25px;
    
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    width: 200px;
}
table,th,td {
    border: 2px solid wheat;
    color: antiquewhite;
    text-align: center;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}